
.navbar-header .navbar-brand:before {
  content: "";
  background: url("../images/transsight-logo.png") no-repeat;
  background-size: 317px 120px;
  width: 317px;
  height: 120px;
  top: -30px;
  left: -115px;
  border-radius: 0;
}