<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="format-detection" content="telephone=no"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <title>Customers</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Links -->
    <link href="css/style.css" rel="stylesheet">
    <link href="css/camera.css" rel="stylesheet">
    <link href="css/transsight.css" rel="stylesheet">

    <!--JS-->
    <script src="js/jquery.js"></script>
    <script src="js/jquery-migrate-1.2.1.min.js"></script>



    <!--[if lt IE 9]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/..">
            <img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820"
                 alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."/>
        </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <![endif]-->


    <script src='js/device.min.js'></script>
</head>
<body>
<div class="page">
    <!--========================================================
                              HEADER
    =========================================================-->
    <header>
        <div id="stuck_container" class="stuck_container">
            <div class="container">
                <div class="navbar-header">
                    <h1 class="navbar-brand">
                        <a href="./">&nbsp;</a>
                    </h1>
                </div>
                <nav class="navbar navbar-default navbar-static-top ">
                    <ul class="navbar-nav sf-menu navbar-right" data-type="navbar">
                        <li>
                            <a href="./">Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="about-us.html">Company</a>
                            <ul class="dropdown-menu dropdown-menu-company">
                                <li>
                                    <a href="about-us.html">About</a>
                                </li>
                                <li>
                                    <a href="news.html">News</a>
                                </li>
                                <li>
                                    <a href="history.html">History</a>
                                </li>
                                <li>
                                    <a href="customers.html">Customers</a>
                                </li>
                                <li>
                                    <a href="leadership.html">Leadership</a>
                                </li>
                                <li>
                                    <a href="careers.html">Careers</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="services.html">Services</a>
                            <ul class="dropdown-menu dropdown-menu-services">
                                <li>
                                    <a href="consulting.html">Consulting</a>
                                </li>
                                <li>
                                    <a href="systems-integration.html">System Integration</a>
                                    <!--<ul class="dropdown-menu">
                                        <li>
                                            <a href="#">Latest</a>
                                        </li>
                                        <li>
                                            <a href="#">Archive</a>
                                        </li>
                                    </ul>-->
                                </li>
                                <li>
                                    <a href="data-analytics.html">Data Analytics</a>
                                </li>
                                <li>
                                    <a href="managed-services.html">Managed Services</a>
                                </li>
                            </ul>
                        </li>
                        <!--<li>
                            <a href="blog.html">Blog</a>
                        </li>-->
                        <li>
                            <a href="contact-us.html">Contact Us</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <!--========================================================
                              CONTENT
    =========================================================-->
    <style>
        main {
            background-color: #f6f6f6;
        }
        main table {
            width: 70%;
            margin-top: 10rem;
            margin-left: 10rem;
        }
        main table tr {
            border: 1px solid #000;
        }
        main table td {
            width: 25%;
            text-align: center;
            padding: 20rem 3rem;
        }
    </style>
    <main>
        <!--<table>
            <tr>
                <td>
                    <img style="width:120px;" src="images/clients/ch2mhill.png"
                </td>
                <td>
                    <img style="width:340px;" src="images/clients/cleveland.png"
                </td>
                <td>
                    <img style="width:150px;" src="images/clients/crg.png"
                </td>
                <td>
                    <img style="width:120px;" src="images/clients/cta.png"
                </td>
            </tr>
            <tr>
                <td>
                    <img style="width:300px;" src="images/clients/fha.png"
                </td>
                <td>
                    <img style="width:120px;" src="images/clients/kern-council.png"
                </td>
                <td>
                    <img style="width:120px;" src="images/clients/la.png"
                </td>
                <td>
                    <img style="width:120px;" src="images/clients/mtc.png"
                </td>
            </tr>
            <tr>
                <td>
                    <img style="width:80px;" src="images/clients/octa.png"
                </td>
                <td>
                    <img style="width:250px;" src="images/clients/oregon-dot.png"
                </td>
                <td>
                    <img style="width:90px;" src="images/clients/rancho-cucamunga.png"
                </td>
                <td>
                    <img style="width:110px;" src="images/clients/san-diego.png"
                </td>
            </tr>
            <tr>
                <td>
                    <img style="width:120px;" src="images/clients/santa-clara.png"
                </td>
                <td>
                    <img style="width:300px;" src="images/clients/saudi-aramco.png"
                </td>
                <td>
                    <img style="width:150px;" src="images/clients/socal-water.png"
                </td>
                <td>
                    <img style="width:200px;" src="images/clients/transport.png"
                </td>
            </tr>
            <tr>
                <td>
                    <img style="width:180px;" src="images/clients/trimet.png"
                </td>
                <td>
                    <img style="width:150px;" src="images/clients/usgs.png"
                </td>
                <td>
                    <img style="width:300px;" src="images/clients/washington-dot.png"
                </td>
                <td>
                </td>
            </tr>
        </table>-->
        <section class="camera_container text-center">
            <div id="camera" class="camera_wrap">
                <div data-src="images/customers/customers-slide-01.jpg">
                    <div class="camera_caption fadeIn">
                        <h2 style="color:#000; position:relative; top:-20rem;">Organizations that our experts have served</h2>
                    </div>
                </div>
                <div data-src="images/customers/customers-slide-02.jpg">
                    <div class="camera_caption fadeIn">
                        <h2 style="position: relative; top: -20rem;">Organizations that our experts have served</h2>
                    </div>
                </div>
                <div data-src="images/customers/customers-slide-03.jpg">
                    <div class="camera_caption fadeIn">
                        <h2 style="position: relative; top: -20rem;">Organizations that our experts have served</h2>
                    </div>
                </div>
                <div data-src="images/customers/customers-slide-04.jpg">
                    <div class="camera_caption fadeIn">
                        <h2 style="position: relative; top: -20rem;">Organizations that our experts have served</h2>
                    </div>
                </div>
                <div data-src="images/customers/customers-slide-05.jpg">
                    <div class="camera_caption fadeIn">
                        <h2 style="position: relative; top: -20rem;">Organizations that our experts have served</h2>
                    </div>
                </div>
            </div>
        </section>

        <!--<section xxx-class="well8 bg-lighter" style="margin-bottom: 2rem;">
            <div class="container">
                <h3 class="text-center">List of organizations our experts have served:</h3>
                <img src="images/clients/transsight-clients.png" />
            </div>
        </section>-->

    </main>

    <!--========================================================
                            FOOTER
  =========================================================-->
    <footer>
        <section class="footer-wr">
            <div class="container">
                <div class="copyright">
                    &#169; <span id="copyright-year"></span> TransSight. 7599 Balmoral Way, San Ramon, CA 94582 | <a href="contact-us.html">Contact Us</a>
                </div>
            </div>
        </section>
    </footer>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/tm-scripts.js"></script>
<!-- </script> -->


</body>
</html>
