    <!--========================================================
                            FOOTER
  =========================================================-->
    <footer>
        <section class="footer-wr">
            <div class="container">
                <div class="copyright">
                    &#169; <span id="copyright-year"></span> TransSight. 7599 Balmoral Way, San Ramon, CA 94582 | <a href="contact-us.html">Contact Us</a>
                </div>
            </div>
        </section>
    </footer>
